@use "global" as *;

// よくある質問
.faq {
  padding-top: rem(100);
  padding-bottom: rem(60);
  background-color: #f9f9f9;
  @include mq(md) {
    padding-top: rem(160);
    padding-bottom: rem(80);
  }
}

.faq__inner {
  @include mq(md) {
  }
}

.faq__header {
  text-align: center;
  @include mq(md) {
  }
}

.faq__label {
  font-size: rem(16);
  font-weight: $normal;
  color: $color-accent;
  font-family: $second-font-family;
  @include mq(md) {
    font-size: rem(18);
  }
}

.faq__title {
  font-size: rem(28);
  font-weight: $bold;
  text-align: center;
  color: $color-main;
  margin-top: rem(8);
  @include mq(md) {
    font-size: rem(36);
    margin-top: rem(12);
  }
}

.faq__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: rem(24);
  max-width: rem(800);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(40);
  @include mq(md) {
    gap: rem(32);
  }
}

.faq__item {
  @include mq(md) {
  }
}
