@use "global" as *;

// 講師紹介
.instructor {
  padding-top: rem(100);
  padding-bottom: rem(60);
  background-color: #fefefe;
  @include mq(md) {
    padding-top: rem(160);
    padding-bottom: rem(80);
  }
}

.instructor__inner {
  @include mq(md) {
  }
}

.instructor__header {
  text-align: center;
  @include mq(md) {
  }
}

.instructor__label {
  font-size: rem(16);
  font-weight: $normal;
  color: $color-accent;
  font-family: $second-font-family;
  @include mq(md) {
    font-size: rem(18);
  }
}

.instructor__title {
  font-size: rem(28);
  font-weight: $bold;
  text-align: center;
  color: $color-main;
  margin-top: rem(8);
  @include mq(md) {
    font-size: rem(36);
    margin-top: rem(12);
  }
}

.instructor__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(32);
  margin-top: rem(40);
  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: rem(60);
  }
}

.instructor__image {
  flex-shrink: 0;
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid $color-main;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  @include mq(md) {
    width: 40%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.instructor__text-wrapper {
  @include mq(md) {
    flex: 1;
  }
}

.instructor__name {
  font-size: rem(24);
  font-weight: $bold;
  color: $color-main;
  margin-top: rem(20);
  @include mq(md) {
    font-size: rem(28);
    margin-top: rem(24);
  }
}

.instructor__text {
  font-size: rem(14);
  line-height: 1.8;
  color: $black;
  margin-top: rem(16);
  @include mq(md) {
    font-size: rem(16);
    line-height: 1.8;
    margin-top: rem(20);
  }
}

.instructor__text--emphasis {
  font-weight: $bold;
  color: $color-accent;
  @include mq(md) {
  }
}
