@use "global" as *;

// レッスン紹介
.lesson {
  padding-top: rem(100);
  padding-bottom: rem(60);
  background-color: #fef8f3;
  @include mq(md) {
    padding-top: rem(160);
    padding-bottom: rem(80);
  }
}

.lesson__inner {
  @include mq(md) {
  }
}

.lesson__header {
  text-align: center;
  @include mq(md) {
  }
}

.lesson__label {
  font-size: rem(16);
  font-weight: $normal;
  color: $color-accent;
  font-family: $second-font-family;
  @include mq(md) {
    font-size: rem(18);
  }
}

.lesson__title {
  font-size: rem(28);
  font-weight: $bold;
  text-align: center;
  color: $color-main;
  margin-top: rem(8);
  @include mq(md) {
    font-size: rem(36);
    margin-top: rem(12);
  }
}

.lesson__cards {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(24);
  margin-top: rem(40);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(32);
    margin-top: rem(60);
  }
}
