@use "global" as *;

// レッスンカード
.lesson-card {
  background-color: $white;
  border-radius: rem(16);
  padding: rem(24);
  box-shadow: 0 rem(4) rem(12) rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  @include mq(md) {
    padding: rem(32);
    border-radius: rem(20);
  }
}

.lesson-card__title {
  font-size: rem(18);
  font-weight: $bold;
  color: $color-main;
  text-align: center;
  line-height: 1.5;
  @include mq(md) {
    font-size: rem(20);
  }
}

.lesson-card__content {
  margin-top: rem(20);
  flex: 1;
  @include mq(md) {
    margin-top: rem(24);
  }
}

.lesson-card__text {
  font-size: rem(14);
  line-height: 1.8;
  color: $black;
  margin-top: rem(12);
  @include mq(md) {
    font-size: rem(15);
  }
}

.lesson-card__text:first-child {
  margin-top: 0;
}

.lesson-card__image {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  border-radius: rem(8);
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(24);
    border-radius: rem(12);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
