@use "global" as *;

// スケジュール
.schedule {
  margin-top: rem(80);
  padding-top: rem(60);
  padding-bottom: rem(60);
  background-color: #f9f9f9;
  @include mq(md) {
    margin-top: rem(120);
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.schedule__inner {
  @include mq(md) {
  }
}

.schedule__title {
  font-size: rem(28);
  font-weight: $bold;
  text-align: center;
  color: $color-main;
  margin-top: rem(40);
  @include mq(md) {
    font-size: rem(36);
    margin-top: rem(60);
  }
}

.schedule__content {
  max-width: rem(500);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include mq(md) {
  }
}

.schedule__day {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(32);
  }
}

.schedule__day-text {
  font-size: rem(20);
  font-weight: $bold;
  color: $black;
  @include mq(md) {
    font-size: rem(24);
  }
}

.schedule__time {
  font-size: rem(24);
  font-weight: $bold;
  color: $color-accent;
  margin-top: rem(8);
  @include mq(md) {
    font-size: rem(32);
    margin-top: rem(12);
  }
}

.schedule__note {
  font-size: rem(14);
  line-height: 1.8;
  color: $black;
  margin-top: rem(24);
  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(32);
  }
}

.schedule__note-br {
  @include mq(md) {
    display: none;
  }
}
