@use "global" as *;

// 体験レッスン500円
.trial {
  padding-top: rem(100);
  padding-bottom: rem(60);
  background-color: #fefcf8;
  @include mq(md) {
    padding-top: rem(160);
    padding-bottom: rem(80);
  }
}

.trial__inner {
  @include mq(md) {
  }
}

.trial__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);
  @include mq(md) {
    flex-direction: row;
    justify-content: center;
    gap: rem(60);
  }
}

.trial__text-wrapper {
  text-align: center;
  @include mq(md) {
    text-align: left;
  }
}

.trial__price {
  font-size: rem(28);
  font-weight: $bold;
  color: $color-accent;
  font-family: $second-font-family;
  @include mq(md) {
    font-size: rem(36);
  }
}

.trial__text {
  font-size: rem(24);
  font-weight: $bold;
  color: $black;
  line-height: 1.6;
  margin-top: rem(12);
  @include mq(md) {
    font-size: rem(32);
    margin-top: rem(16);
  }
}

.trial__message {
  font-size: rem(16);
  color: $black;
  margin-top: rem(20);
  @include mq(md) {
    font-size: rem(18);
    margin-top: rem(24);
  }
}

.trial__button-wrapper {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.trial__button {
  display: inline-block;
  padding: rem(16) rem(48);
  font-size: rem(16);
  font-weight: $bold;
  color: $black;
  background-color: #f4e4d4;
  border-radius: rem(30);
  text-decoration: none;
  transition: opacity 0.3s;
  @include mq(md) {
    padding: rem(18) rem(60);
    font-size: rem(18);
    border-radius: rem(35);
  }
}

.trial__button:hover {
  opacity: 0.8;
}

.trial__image {
  width: rem(250);
  height: rem(250);
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  @include mq(md) {
    width: rem(300);
    height: rem(300);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
